<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>spiegel</servlet-name>
        <servlet-class>de.derschimi.proxyservlet.TestServlet</servlet-class>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://www.spiegel.de</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>spiegel</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>spiegel</servlet-name>
        <url-pattern>/spiegel/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>appleproxy</servlet-name>
        <servlet-class>de.derschimi.proxyservlet.TestServlet</servlet-class>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://www.apple.com</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>appleproxy</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>appleproxy</servlet-name>
        <url-pattern>/appleproxy/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>superbad</servlet-name>
        <servlet-class>de.derschimi.proxyservlet.TestServlet</servlet-class>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://www.angelfire.com/super/badwebs/</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>superbad</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>superbad</servlet-name>
        <url-pattern>/superbad/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>TestFilter</filter-name>
        <filter-class>de.derschimi.proxyservlet.TestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>TestFilter</filter-name>
        <url-pattern>/superbad/*</url-pattern>
    </filter-mapping>

</web-app>
